body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.frame {
    display: none;
    
}

/* Hides elements by default (to be toggled via JavaScript) */
.hidden {
    display: none;                  /* Sets display to none */
}

.active {
    display: block; /* Show only the active frame */
}

.chat-container {
    width: 95%;
    height: 910px;
    border: 2px solid #f4a261;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #fefaf6;  /* Light beige */
    position: relative;
    margin: 10px 0px 10px ;
}

.chat-header {
    background-color: #fefaf6;
    color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #f4a261;
    position: relative;
    font-size: 16px;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #fffaf0;
    border-bottom: 1px solid #ccc;
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.chat-messages::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}

.message {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 15px;
    word-wrap: break-word;
}

.message.user {
    background-color: #f4a261;
    color: white;
    align-self: flex-end;
    border-radius: 10px 10px 0 10px;
}

.message.auto {
    background-color: #e0e0e0;
    color: black;
    align-self: flex-start;
    border-radius: 10px 10px 10px 0;
}

.typing {
    font-style: italic;
    color: gray;
}

.chat-input-container {
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.chat-input-container input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    margin-right: 5px;
}

.chat-input-container button {
    width: 25%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    margin: 2px;
}

.chat-input-container button:hover {
    background-color: #0056b3;
}
